@model MvcAsp.Models.TrackModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h1>This is the html section</h1>
@Html.ActionLink("Home", "Index", "Home")

<h1>@ViewBag.text1</h1>

@Html.TextBox("text2")




